<h1>Welcome to Scrabble</h1>
<form action="/score">
  <div class="form-group">
     <label for="word">Enter a word to find its Scrabble value.
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Score it!</button>
</form>
